<!DOCTYPE HTML>

{% load staticfiles %}

<html>
	<head>
		{% block title %}

		{% endblock  %}

		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href='{% static "images/XSlogo.jpg"%}'/>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href='{% static "assets/css/main.css" %}'/>
	</head>

	{% block bodyclass %}

    {% endblock  %}

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h><a href="/">小宋是呢</a></h>
						<nav class="links">
							<ul>
								<li><a href="/"><h>首页</h></a></li>
								<li><a href="/sort-1.html"><h>分类</h></a></li>
								<li><a href="/archive-1.html"><h>归档</h></a></li>
								<li><a href="/me"><h>关于</h></a></li>
							</ul>
						</nav>
						<nav class="main">
							<ul>
								<li class="search">
									<a class="fa-search" href="#search">查找</a>
									<form id="search" method="get" action="/search">
										<input type="text" name="search" placeholder="Search" />
									</form>
								</li>
								<li class="menu">
									<a class="fa-bars" href="#menu">菜单</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Menu -->
					<section id="menu">

						<!-- Search -->
							<section>
								<form class="search" method="get"  action="/search">
									<input type="text" name="search" placeholder="Search" />
								</form>
							</section>

						<!-- Links -->
							<section>
								<ul class="links">
									<li>
										<a href="/">
											<h>主页</h>
											<p>小宋是呢的家</p>
										</a>
									</li>
									<li>
										<a href="/sort-1.html">
											<h>分类</h>
											<p>文章内容划分</p>
										</a>
									</li>
									<li>
										<a href="/archive-1.html">
											<h>归档</h>
											<p>文章标签归档</p>
										</a>
									</li>
									<li>
										<a href="/me">
											<h>关于</h>
											<p>有关于我的事</p>
										</a>
									</li>
								</ul>
							</section>

						<!-- Actions -->
							<section>
								<ul class="actions stacked">
									<li><a href="/admin" class="button large fit">登陆</a></li>
								</ul>
							</section>

					</section>

                <!-- base -->
                {% block body %}
                {% endblock  %}

			</div>



			 <script src="http://static.tctip.com/tctip-1.0.0.min.js"></script>
				<script>
				new tctip({
					top: '20%',
					button: {
						id: 4,
						type: 'zanzhu',
					},
					list: [
						{
							type: 'alipay',
							qrImg: '{% static "images/qr/zfb.jpg"%}',
							desc: '感谢您的支持',
						}, {
							type: 'wechat',
							qrImg: '{% static "images/qr/wx.png"%}',
							desc: '您的鼓励是我前进的力量',
						},
					],
					stat:false,
				}).init()
				</script>




		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>