{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}

<title>内容页面</title>

{% endblock  %}

{% block bodyclass %}
<body class="single is-preload">
{% endblock  %}
{% block body %}


    <div id="main">

        <!-- Post -->
            <article class="post">
                <header>
                    <div class="title">
                        <h2><a href="/details-{{show.id}}.html">{{show.title}}</a></h2>
                        <p>{{show.excerpt}}</p>
                    </div>
                    <div class="meta">
                        <time class="published" datetime="2015-10-25">{{ show.created_time|date:"Y年m月d日" }}</time>
                        <a href="/me" class="author"><span class="name">{{show.user}}</span><img src='{% static "images/XSlogo.jpg"%}' alt="" /></a>
                    </div>
                </header>
                <span class="image featured"><img src="media/{{ show.img }}" alt="" /></span>

                <article class="post">
                    {{ show.body|safe }}
                </article>

                <footer>
                    <ul class="stats">
                        <li><a href="/sort-{{ show.category.id }}.html">{{ show.category.name }}</a></li>
                        <li><a href="#" class="icon fa-heart">28</a></li>
                        <li><a href="#" class="icon fa-comment">128</a></li>
                        <li><a href="#" onclick="return false;" class="icon fa-eye">{{ show.views }}</a></li>
                    </ul>
                </footer>
            </article>

            <div>
                <div><b>上一篇：</b>
                    {% if netx_blog %}
                        <a href="/details-{{ netx_blog.pk }}.html" class="article-tag">{{ netx_blog }}</a>
                    {% else %}
                        没有了
                    {% endif %}
                </div>
                <div><b>下一篇：</b>
                    {% if previous_blog %}
                        <a href="/details-{{ previous_blog.pk }}.html" class="article-tag">{{ previous_blog }}</a>
                    {% else %}
                        没有了
                    {% endif %}
                </div>
            </div>

    </div>

<!-- Footer -->
    <section id="footer">
        <ul class="icons">
            <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
            <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
    </section>


{% endblock  %}