{% extends 'base.html' %}
{% load staticfiles %}

{% block bodyclass %}
<body class="is-preload">
{% endblock  %}

{% block main %}


    <div id="main">

        <!-- Post -->
            <article class="post">
                <header>
                    <div class="title">
                        <h2><a href="single.html">[深度学习概念]·深度学习中人脸识别开发解析</a></h2>
                        <p>人脸识别问题宏观上分为两类：1. 人脸验证（又叫人脸比对）2. 人脸识别。</p>
                    </div>
                    <div class="meta">
                        <time class="published" datetime="2015-11-01">November 1, 2015</time>
                        <a href="#" class="author"><span class="name">小宋是呢</span><img src='{% static "images/XSlogo.jpg" %}' alt="" /></a>
                    </div>
                </header>
                <a href="single.html" class="image featured"><img src='{% static "images/pic01.jpg" %}' alt="" /></a>
                <p>人脸识别是什么



人脸识别问题宏观上分为两类：1. 人脸验证（又叫人脸比对）2. 人脸识别。



人脸验证做的是 1 比 1 的比对，即判断两张图片里的人是否为同一人。最常见的应用场景便是人脸解锁，终端设备（如手机）只需将用户事先注册的照片与临场采集的照片做对比，判断是否为同一人，即可完成身份验证。



人脸识别做的是 1 比 N 的比对，即判断系统当前见到的人，为事先见过的众多人中的哪一个。比如疑犯追踪，小区门禁，会场签到，以及新零售概念里的客户识别。</p>
                <footer>
                    <ul class="actions">
                        <li><a href="single.html" class="button large">Continue Reading</a></li>
                    </ul>
                    <ul class="stats">
                        <li><a href="#">General</a></li>
                        <li><a href="#" class="icon fa-heart">28</a></li>
                        <li><a href="#" class="icon fa-comment">128</a></li>
                    </ul>
                </footer>
            </article>

        <!-- Post -->
            <article class="post">
                <header>
                    <div class="title">
                        <h2><a href="single.html">Ultricies sed magna euismod enim vitae gravida</a></h2>
                        <p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
                    </div>
                    <div class="meta">
                        <time class="published" datetime="2015-10-25">October 25, 2015</time>
                        <a href="#" class="author"><span class="name">Jane Doe</span><img src='{% static "images/avatar.jpg"%}' alt="" /></a>
                    </div>
                </header>
                <a href="single.html" class="image featured"><img src='{% static "images/pic02.jpg" %}' alt="" /></a>
                <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper.</p>
                <footer>
                    <ul class="actions">
                        <li><a href="single.html" class="button large">Continue Reading</a></li>
                    </ul>
                    <ul class="stats">
                        <li><a href="#">General</a></li>
                        <li><a href="#" class="icon fa-heart">28</a></li>
                        <li><a href="#" class="icon fa-comment">128</a></li>
                    </ul>
                </footer>
            </article>

        <!-- Post -->
            <article class="post">
                <header>
                    <div class="title">
                        <h2><a href="single.html">Euismod et accumsan</a></h2>
                        <p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
                    </div>
                    <div class="meta">
                        <time class="published" datetime="2015-10-22">October 22, 2015</time>
                        <a href="#" class="author"><span class="name">Jane Doe</span><img src='{% static "images/avatar.jpg"%}' alt="" /></a>
                    </div>
                </header>
                <a href="single.html" class="image featured"><img src='{% static "images/pic03.jpg" %}' alt="" /></a>
                <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla. Cras vehicula tellus eu ligula viverra, ac fringilla turpis suscipit. Quisque vestibulum rhoncus ligula.</p>
                <footer>
                    <ul class="actions">
                        <li><a href="single.html" class="button large">Continue Reading</a></li>
                    </ul>
                    <ul class="stats">
                        <li><a href="#">General</a></li>
                        <li><a href="#" class="icon fa-heart">28</a></li>
                        <li><a href="#" class="icon fa-comment">128</a></li>
                    </ul>
                </footer>
            </article>

            <ul class="actions pagination">
                <li><a href="" class="disabled button large previous">Previous Page</a></li>
                <li><a href="#" class="button large next">Next Page</a></li>
            </ul>

    </div>

    <section id="sidebar">

        <!-- Intro -->
            <section id="intro">
                <a href="#" class="logo"><img src='{% static "images/XSlogo.jpg" %}'  alt="" /></a>
                <header>
                    <h2>未来不完美</h2>
                    <p>所以一直要努力</p>
                </header>
            </section>

        <!-- Mini Posts -->
            <section>
                <div class="mini-posts">

                    <!-- Mini Post -->
                        <article class="mini-post">
                            <header>
                                <h3><a href="single.html">Vitae sed condimentum</a></h3>
                                <time class="published" datetime="2015-10-20">October 20, 2015</time>
                                <a href="#" class="author"><img src='{% static "images/avatar.jpg"%}' alt="" /></a>
                            </header>
                            <a href="single.html" class="image"><img src='{% static "images/pic04.jpg"%}' alt="" /></a>
                        </article>

                    <!-- Mini Post -->
                        <article class="mini-post">
                            <header>
                                <h3><a href="single.html">Rutrum neque accumsan</a></h3>
                                <time class="published" datetime="2015-10-19">October 19, 2015</time>
                                <a href="#" class="author"><img src='{% static "images/avatar.jpg"%}' alt="" /></a>
                            </header>
                            <a href="single.html" class="image"><img src='{% static "images/pic05.jpg"%}' alt="" /></a>
                        </article>

                    <!-- Mini Post -->
                        <article class="mini-post">
                            <header>
                                <h3><a href="single.html">Odio congue mattis</a></h3>
                                <time class="published" datetime="2015-10-18">October 18, 2015</time>
                                <a href="#" class="author"><img src='{% static "images/avatar.jpg"%}' alt="" /></a>
                            </header>
                            <a href="single.html" class="image"><img src='{% static "images/pic06.jpg"%}' alt="" /></a>
                        </article>

                    <!-- Mini Post -->
                        <article class="mini-post">
                            <header>
                                <h3><a href="single.html">Enim nisl veroeros</a></h3>
                                <time class="published" datetime="2015-10-17">October 17, 2015</time>
                                <a href="#" class="author"><img src='{% static "images/avatar.jpg"%}' alt="" /></a>
                            </header>
                            <a href="single.html" class="image"><img src='{% static "images/pic07.jpg"%}' alt="" /></a>
                        </article>

                </div>
            </section>

        <!-- Posts List -->
            <section>
                <ul class="posts">
                    <li>
                        <article>
                            <header>
                                <h3><a href="single.html">Lorem ipsum fermentum ut nisl vitae</a></h3>
                                <time class="published" datetime="2015-10-20">October 20, 2015</time>
                            </header>
                            <a href="single.html" class="image"><img src='{% static "images/pic08.jpg"%}' alt="" /></a>
                        </article>
                    </li>
                    <li>
                        <article>
                            <header>
                                <h3><a href="single.html">Convallis maximus nisl mattis nunc id lorem</a></h3>
                                <time class="published" datetime="2015-10-15">October 15, 2015</time>
                            </header>
                            <a href="single.html" class="image"><img src='{% static "images/pic09.jpg"%}' alt="" /></a>
                        </article>
                    </li>
                    <li>
                        <article>
                            <header>
                                <h3><a href="single.html">Euismod amet placerat vivamus porttitor</a></h3>
                                <time class="published" datetime="2015-10-10">October 10, 2015</time>
                            </header>
                            <a href="single.html" class="image"><img src='{% static "images/pic10.jpg"%}' alt="" /></a>
                        </article>
                    </li>
                    <li>
                        <article>
                            <header>
                                <h3><a href="single.html">Magna enim accumsan tortor cursus ultricies</a></h3>
                                <time class="published" datetime="2015-10-08">October 8, 2015</time>
                            </header>
                            <a href="single.html" class="image"><img src='{% static "images/pic11.jpg"%}' alt="" /></a>
                        </article>
                    </li>
                </ul>
            </section>

        <!-- About -->
            <section class="blurb">
                <h2>关于</h2>
                <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.</p>
                <ul class="actions">
                    <li><a href="#" class="button">Learn More</a></li>
                </ul>
            </section>

        <!-- Footer -->
            <section id="footer">
                <ul class="icons">
                    <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
                    <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
                </ul>
                <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
            </section>

    </section>

{% endblock  %}