{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}

<title>查找结果</title>

{% endblock  %}

{% block bodyclass %}
<body class="is-preload">
{% endblock  %}
{% block body %}
{% load comments %}


    <div id="main">
        <h2>{{cname}}</h2>
        <!-- django                                                                                 -->
        {% for article in allarticle  %}
        <!-- Post -->
            <article class="post">
                <header>
                    <div class="title">
                        <h2><a href="/details-{{article.id}}.html">{{article.title}}</a></h2>
                        <p>{{article.excerpt}}</p>
                    </div>
                    <div class="meta">
                        <time class="published" datetime="2015-10-25">{{ article.created_time|date:"Y年m月d日" }}</time>
                        <a href="/me" class="author"><span class="name">{{article.user}}</span><img src='{% static "images/XSlogo.jpg"%}' alt="" /></a>
                    </div>
                </header>
                {% get_comment_list for article as comments %}
                <footer>
                    <ul class="actions">
                        <li><a href="/details-{{article.id}}.html" class="button large">继续阅读</a></li>
                    </ul>
                    <ul class="stats">
                        <li><a href="/sort-{{ article.category.id }}.html">{{ article.category.name }}</a></li>
                        <li><a href="#" class="icon fa-heart">28</a></li>
                        <li><a href="#" class="icon fa-comment">{{ comments|length}}</a></li>
                        <li><a href="#" onclick="return false;" class="icon fa-eye">{{ article.views }}</a></li>
                    </ul>
                </footer>
            </article>
        {% endfor %}

        <!-- django                                                                                 -->

            <ul class="actions pagination">
                {% if allarticle.has_previous %}
                <li class="prev-page"><a href="?search={{ ss }}&page={{ allarticle.previous_page_number }}">前页</a></li>
                {% else %}
                <li class="prev-page"></li>
                {% endif %}


                    {% for num in allarticle.paginator.page_range %}
                        {% if num %}
                            {% ifequal num allarticle.number %}
                                <li class="active"><span>{{ num }}</span></li>
                            {% else %}
                                <li><a href="?page={{ num }}">{{ num }}</a></li>
                            {% endifequal %}
                        {% else %}
                            <li class="disabled"><span>...</span></li>
                        {% endif %}
                    {% endfor %}


                    {% if allarticle.has_next %}
                        <li class="next-page"><a href="?search={{ ss }}&page={{ allarticle.next_page_number }}">后页</a></li>
                    {% else %}
                        <li class="prev-page"></li>
                    {% endif %}
            </ul>


    </div>

            <section id="sidebar">

        <!-- Intro -->
            <section id="intro">
                <a href="/me" class="logo"><img src='{% static "images/XSlogo.jpg" %}'  alt="" /></a>
                <header>
                    <h2>未来不完美</h2>
                    <p>所以一直要努力</p>
                </header>
            </section>

        <!-- Mini Posts -->

            <section>
            <h3>热门推荐</h3>
                <div class="mini-posts">

                    <!-- Mini Post -->
                    <!-- django                                                                                 -->
                    {% for h in hot %}

                    <article class="mini-post">
                            <header>
                                <h3><a href="/details-{{ h.id }}.html">{{ h.title }}</a></h3>
                                <p>阅读：{{ h.views }}</p>
                                <time class="published" datetime="2015-10-19">{{ h.created_time|date:"Y年m月d日" }}</time>
                                <a href="/me" class="author"><img src='{% static "images/XSlogo.jpg"%}' alt="" /></a>
                            </header>
                            <a href="/details-{{ h.id }}.html" class="image"><img src="media/{{ h.img }}" alt="" /></a>
                    </article>

                    {% endfor %}

                    <!-- django                                                                                  -->



                </div>
            </section>

        <!-- Posts List -->

        <!-- About -->
            <section class="blurb">
                <h2>关于</h2>
                <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.</p>
                <ul class="actions">
                    <li><a href="#" class="button">更多...</a></li>
                </ul>
            </section>

        <!-- Footer -->
            <section id="footer">
                <ul class="icons">
                    <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
                    <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
                </ul>
                <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
            </section>

    </section>



{% endblock  %}